<p id="notice"><%= notice %></p>


<center>
 <div class=" cartB">
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <h2 class="candyt"> Your SweetDream Cart</h2>
   <br>
    <form class="checkout" action="index.html" method="post">
    <table style="font-weight:bold; ">
      <% if !@cart.nil? %>
        <% @cart.line_items.each do |item|%>
         <tr class="cartsline">
           <td>&nbsp;<%= item.quantity %> &times;</td>
           <td><%= item.product.title %></td>
            <td class='item_price'><%= number_to_currency(item.total_price) %> </td>
            <td class="deletepro">
              <a href="carts/delete_one_pro?item_id=<%= item.id %>&cart_id=<%=item.cart_id%>">delete</a>
            </td>
         </tr>
        <% end %>
      <% end %>


      <tr class="total_line" style="height: 30px;">
        <td colspan="2">Total</td>
        <td class="total_cell">
          <%= number_to_currency(@cart.total_price) rescue 0 %>
        </td>
      </tr>
      <tr>
        <td class="empty">
          <%= button_to 'Empty cart', @cart, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
        <td>
          <button class="bottomPay">
            <a href="/carts/order_info?cart_ids=<%= @cart.line_items.pluck("id").join("||") rescue ""%>">Pay</a>
          </button>

        </td>
      </tr>
    </table>
    </form>
  </div>

</center>

<div class="container-fluid text-center bg-grey">
  <h4>In the future</h4>
  <div class="row text-center" style="background-color: #dedae0">
    <div class="col-sm-4" >
      <div class="thumbnail" style="background-color: #e3c1f7">
        <img src="assets/lollipop.webp" alt="" width="400" height="300">
        <p><strong>lollipop</strong></p>

      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail" style="background-color: #e3c1f7">
        <img src="assets/DIY.jpg" alt="" width="400" height="300">
        <p><strong>DIY Candy</strong></p>

      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail" style="background-color: #e3c1f7">
        <img src="assets/milkshake1.jpg" alt="" width="400" height="300">
        <p><strong>Milk shake</strong></p>

      </div>
    </div>
  </div>
</div>
