
</style>
<div class="container">
	<div class="header">
		<h1>order detail</h1>
	</div>
	<hr>
	<div class="product_list">
		<h3>product lists</h3>
		<hr>
		<div class="list">
			<% total_price = 0 %>
			<ul class="order_ac">
				<% @items.each do |item| %>
					<li style="margin: 0;padding: 0;height: 40px;">Title:<label class="product_title"><%= item.product.title %></label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						Count:<label class="product_title"><%= item.quantity %></label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<% price = item.total_price %>
						<% total_price = total_price + price %>
						Price:<label class="product_title"><%= number_to_currency(price) %></label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					</li>
				<% end %>
				<li>tital price: <label class="product_title"><%= number_to_currency(total_price) %></label></li>
			</ul>
		</div>
	</div>
	<hr>
	<div class="delivered">
		<h2>delivered information</h2>
			<hr>
			<form action="/orders/new_order" method="post">
				<input type="text" hidden name="item_ids" value="<%= params[:cart_ids] %>">
				<div class="contact1">
					<label>name:</label><input type="text" name="name" class="contact_input">
				</div>
				<div class="contact">
					<label>phone:</label><input type="text" name="phone" class="contact_input">
				</div>
				<div class="contact">
					<label>address:</label><input type="text" name="address" class="contact_input">
				</div>

				<br><br><br><br><br><br><br><br>
				<button type="submit" style="text-align: center;width: 100px;height: 40px;font-size: 14px;background-color: OrangeRed;color: white;">submit order</button>
			</form>
	</div>
	<hr>
</div>
