<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cookies</title>
  </head>
  <body>
    <p id='notice'> <%= notice %> </p>

    <div class="jumbotron" style="background-color:#df5b6e" >
      <div class="container text-center" >
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSaYfO4IvCuGRu5wRjdoA6Rt71wo_5XT8f80w&usqp=CAU" alt="">
        <h1 style="color:#77cce6">COOKIES</h1>
        <p style="color:#3ead5c">This is a Big Big Welcome </p>
      </div>
    </div>

    <div class="row">
      <div class="">
        <% cache @products do %>
          <% @products.each do |product| %>
              <% cache product do %>
                <% if product.selection == "cookies"  %>

                        <div class="col-sm-4">
                          <div class="products" >


                            <div class="image">
                              <%= image_tag(product.image_url, width: 200, height: 200)  %>
                            </div>


                            <div class="title">
                                <%= product.title %>
                            </div>


                             <table class="description">
                               <%= sanitize(product.description) %>
                             </table>



                            <div class="shopping">
                              <div class="price" ><%= number_to_currency(product.price) %></div>
                              <div class="Cart">
                                <%= button_to 'Add to Cart', line_items_path(product_id: product) %>
                              </div>
                            </div>




                          </div>
                        </div>
                <% end %>
             <% end %>
         <% end %>
      <% end %>
      </div>

    </div>


  </body>
</html>
