<p id="notice"><%= notice %></p>

<h1 class="protitle">SweetDream</h1>

<center>
<form class="productform" action="index.html" method="post">
  <table class="producttable">
    <% @products.each do |product| %>
    <thead>
      <tr class='<%= cycle('list_line_odd', 'list_line_even')%>'>
      <td>
        <%= image_tag(product.image_url, class: 'list_image')%>
      </td>

      <td class='list_description'>
        <dl>
          <dt>  <%= product.title%> </dt>
          <dd> <%= truncate(strip_tags(product.description), length: 80)%></dd>
        </dl>
      </td>

      <td class='list_actions'>
         <strong><%= link_to 'Show', product %></strong>

         <strong><%= link_to 'Edit', edit_product_path(product) %></strong>

        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
  </tr>
    <% end %>

  </table>
</form>
</center>

<br/>

<tr class="New">
  <%= link_to 'New Product', new_product_path %>
</tr>
