<center>
  <div class="showPro">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p id="notice"><%= notice %></p>

    <p >
      <strong>Title:</strong>
      <%= @product.title %>
    </p>
    <br>



    <p>
      <strong>Description:</strong>
      <%= @product.description %>
    </p>
    <br>




    <p>
      <strong>Image url:</strong>
      <%= @product.image_url %>
    </p>
    <br>
    


    <p>
      <strong>Price:</strong>
      <%= @product.price %>
    </p>
    <br>



    <p>
      <strong>Section:</strong>
      <%= @product.selection %>
    </p>

    <%= link_to 'Edit', edit_product_path(@product) %> |

      <%= link_to 'Back', products_path %>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

  </div>

</center>
