<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Please contact us</title>
    <link rel="contact" href="http://localhost:3000/contact">

  </head>
  <body >
    <center>
    <div class="form">

      <%= form_tag request_contact_path, method: 'post' do %>
         <%= label_tag :name, t('.name') %>
         <%= text_field_tag :name, '', title: t('.enter_name'), size: 50 %>

         <%= label_tag :email, t('.email') %>
         <%= email_field_tag :email, '', title: t('.enter_email'), size: 50 %>

         <%= label_tag :telephone, t('.telephone') %>
         <%= telephone_field_tag :telephone, '', title: t('.enter_telephone'), size: 50 %>

         <%= label_tag :message, t('.message') %>
         <%= text_field_tag :message, '', title: t('.enter_message'), size: 50 %>

         <%= submit_tag t('.submit') %>
        <% end %>
    </div>
    </center>
    <div class="container-fluid" style="background-color:#df5b6e">
      <div class="row">
        <div class="col-sm-8">
          <h2>About SweetDream</h2>
          <p>We are committed to bringing sweet food to the world..</p>
          <button class="btn btn-default btn-lg" href="http://localhost:3000">Get in Touch</button>
        </div>
        <div class="col-sm-4">
          <span class="glyphicon glyphicon-signal logo"></span>
        </div>
      </div>
    </div>

    <div class="container-fluid bg-grey" style="background-color:#ece6ed">
      <div class="row">
        <div class="col-sm-4">
          <span class="glyphicon glyphicon-globe logo"></span>
        </div>
        <div class="col-sm-8">
          <h2>Our Values</h2>
          <h4><strong>MISSION:</strong> TRY OUR BEST..</h4>
          <p><strong>VISION:</strong> MAKE EVERTHING PERFECT.</p>
        </div>
      </div>
    </div>





  </body>


</html>
