<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% cache @products do %>
      <% @products.each do |product| %>
          <% cache product do %>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="entry">
      <%= image_tag(product.image_url, width: 150, height: 150)  %>
        <h3><%= product.title %></h3>
        <%= sanitize(product.description) %>
        <div class="price_line">
          <span class="price"><%= number_to_currency(product.price) %></span>
          <%= button_to 'Add to Cart', line_items_path(product_id: product)%>
        </div>
      </div>
    </div>
    <% end %>
   <% end %>
 <% end %>


</div><br>







  </body>
</html>
